/* base.css */

html {
  font-size: 14px;
}

body {
  font-family: "Gowun Batang", "Source Serif 4", "Noto Serif KR", serif;

  font-weight: 400;
  line-height: 1.85;

  background: rgba(255, 255, 255);
  color: #111;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9em;
}

