/* layout.css */

article {
  width: 80%;
  max-width: 900px;
  /* margin: 0 auto; */
}

.sidenote,
.marginnote {
  float: right;
  clear: right;

  /* width: 300px;         */
  /* margin-right: -340px; */
  /* margin-right: max(-340px, calc(-100vw + 100% + 2rem)); */
  width: clamp(180px, 35%, 300px);
  margin-right: calc(-1 * clamp(200px, 38%, 340px));

  font-size: 1.0rem;
  line-height: 1.55;
}

.sidenote {
  background: rgba(0,0,0,0.03);
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
}

/* .sidenote::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.6em;
  width: 0.8rem;
  height: 1px;
  background: #aaa;
} */

@media (max-width: 760px) {
  article {
    width: 92%;
    max-width: none;
  }

  .sidenote,
  .marginnote {
    float: none;
    display: block;
    width: auto;
    margin: 1rem 0;
    background: #f9f9f9;
  }
}

@page {
  @bottom-center {
    content: counter(page);
  }
}
